body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#mainAppDiv {
  text-align: center;
}

#loginText {
  font-style: italic;
  font-size: xx-large;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: white;
}

#labelLoginWrongCreditentials {
  display: none;
  color: rgb(240, 33, 18);
  font-weight: bold;
  font-style: italic;
}

.registerBackground {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.registerContainer {
  width: 500px;
  height: 500px;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.CloseBtn {
  display: flex;
  justify-content: flex-end;
}

#btnCloseRegisterForm {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
  color: #c45dbe;
  border-style: solid;
  border-width: 2px;
  border-radius: 20px;
  border-color: #c45dbe;
}

.modalContainer .title {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
}

.registerContainer .body {
  flex: 50%;
  display: block;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  text-align: center;
}

.registerContainer .footer button {
  display: block;
  margin: 0 auto;
  width: 50%;
  height: 50px;
  font-family: Helvetica;
  border-bottom: 5px solid #b406ac;
  border-top: none;
  border-left: none;
  border-right: none;
  background: linear-gradient(#bd58ac, #c45dbe);
  color: white;
  border-radius: 10px;
  box-shadow: 0px 2px 10px grey;
  transition: 150ms ease;
  text-align: center;
  line-height: 50px;
  font-weight: bold;
  cursor: pointer;
}

.registerContainer .footer button:active {
  border: none;
  border-bottom: 2px solid #881e96;
  box-shadow: 0px 1px 5px grey;
  background: linear-gradient(#811165, #a5148d);
  color: #FFF;
}

input {
  border-radius: 30px;
  border-color: rgba(240, 8, 97, 0.329);
  margin: 8px;
}

.registerLabels {
  display: none;
  color: red;
  font-weight: bold;
}

#h1RegisterTitle {
  color: #bd58ac;
}

#mainBody {
  background-image: url('media/loginBackground.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

#mainHeader,
#paragraphNoAccount {
  color: white;
}

#btnLogin {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 20px;
  font-family: Helvetica;
  border-bottom: 2px solid #b406ac;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-top: 5px;
  background: linear-gradient(#be1aa3, #991292);
  color: white;
  border-radius: 10px;
  box-shadow: 0px 2px 10px grey;
  transition: 150ms ease;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

#btnLogin:active {
  border: none;
  border-bottom: 2px solid #881e96;
  box-shadow: 0px 1px 5px grey;
  background: linear-gradient(#811165, #a5148d);
  color: #FFF;
}

#openNewAccountPopupBtn {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 20px;
  font-family: Helvetica;
  border-bottom: 2px solid #b406ac;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-top: 5px;
  background: linear-gradient(#be1aa3, #991292);
  color: white;
  border-radius: 10px;
  box-shadow: 0px 2px 10px grey;
  transition: 150ms ease;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

#openRegisterPopupBtn:active {
  border: none;
  border-bottom: 2px solid #881e96;
  box-shadow: 0px 1px 5px grey;
  background: linear-gradient(#811165, #a5148d);
  color: #FFF;
}

input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.459) !important;
  font-weight: bold;
  font-style: italic;
}

input:-moz-placeholder {
  color: rgba(0, 0, 0, 0.459) !important;
  font-weight: bold;
  font-style: italic;
}

input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.459) !important;
  font-weight: bold;
  font-style: italic;
}

input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.459) !important;
  font-weight: bold;
  font-style: italic;
}

header {
  padding: 1rem 0;
}

.product_row {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  text-align: right;
  position: relative;
  width: 500px;
  display: inline-block;
}

.product_image{
  display: table-row;
  margin-left: 10px;
  position: absolute;
  top: 50%;
  margin-top: -50px;
}

.product_detail {
  margin-right: 10px;
  margin-bottom: 10px;
}

.product_price {
  font-weight: bold;
  font-size: 140%;
}