body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#mainAppDiv {
  text-align: center;
}

#loginText {
  font-style: italic;
  font-size: xx-large;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: white;
}

#labelLoginWrongCreditentials {
  display: none;
  color: rgb(240, 33, 18);
  font-weight: bold;
  font-style: italic;
}

.registerBackground {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.registerContainer {
  width: 500px;
  height: 500px;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.CloseBtn {
  display: flex;
  justify-content: flex-end;
}

#btnCloseRegisterForm {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
  color: #c45dbe;
  border-style: solid;
  border-width: 2px;
  border-radius: 20px;
  border-color: #c45dbe;
}

.modalContainer .title {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
}

.registerContainer .body {
  flex: 50%;
  display: block;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  text-align: center;
}

.registerContainer .footer button {
  display: block;
  margin: 0 auto;
  width: 50%;
  height: 50px;
  font-family: Helvetica;
  border-bottom: 5px solid #b406ac;
  border-top: none;
  border-left: none;
  border-right: none;
  background: linear-gradient(#bd58ac, #c45dbe);
  color: white;
  border-radius: 10px;
  box-shadow: 0px 2px 10px grey;
  transition: 150ms ease;
  text-align: center;
  line-height: 50px;
  font-weight: bold;
  cursor: pointer;
}

.registerContainer .footer button:active {
  border: none;
  border-bottom: 2px solid #881e96;
  box-shadow: 0px 1px 5px grey;
  background: linear-gradient(#811165, #a5148d);
  color: #FFF;
}

input {
  border-radius: 30px;
  border-color: rgba(240, 8, 97, 0.329);
  margin: 8px;
}

.registerLabels {
  display: none;
  color: red;
  font-weight: bold;
}

#h1RegisterTitle {
  color: #bd58ac;
}

#mainBody {
  background-image: url('media/loginBackground.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

#mainHeader,
#paragraphNoAccount {
  color: white;
}

#btnLogin {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 20px;
  font-family: Helvetica;
  border-bottom: 2px solid #b406ac;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-top: 5px;
  background: linear-gradient(#be1aa3, #991292);
  color: white;
  border-radius: 10px;
  box-shadow: 0px 2px 10px grey;
  transition: 150ms ease;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

#btnLogin:active {
  border: none;
  border-bottom: 2px solid #881e96;
  box-shadow: 0px 1px 5px grey;
  background: linear-gradient(#811165, #a5148d);
  color: #FFF;
}

#openNewAccountPopupBtn {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 20px;
  font-family: Helvetica;
  border-bottom: 2px solid #b406ac;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-top: 5px;
  background: linear-gradient(#be1aa3, #991292);
  color: white;
  border-radius: 10px;
  box-shadow: 0px 2px 10px grey;
  transition: 150ms ease;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

#openRegisterPopupBtn:active {
  border: none;
  border-bottom: 2px solid #881e96;
  box-shadow: 0px 1px 5px grey;
  background: linear-gradient(#811165, #a5148d);
  color: #FFF;
}

input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.459) !important;
  font-weight: bold;
  font-style: italic;
}

input:-moz-placeholder {
  color: rgba(0, 0, 0, 0.459) !important;
  font-weight: bold;
  font-style: italic;
}

input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.459) !important;
  font-weight: bold;
  font-style: italic;
}

input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.459) !important;
  font-weight: bold;
  font-style: italic;
}

header {
  padding: 1rem 0;
}

.product_row {
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 25%;
  height: 400px;
  margin: auto;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;
  overflow: hidden;
}

.product_row_detailed {
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 90%;
  height: 1000px;
  margin: auto;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;
  overflow: hidden;
}

.product_image {
  margin-top: 10px;
}

.product_detail {
  color: white;
}

#flowerArrgNameDetails {
  font-size: 36px;
}


.product_price {
  font-weight: bold;
  font-size: 140%;
}

.product_price_details {
  font-weight: bold;
  font-size: 200%;
}

.add_to_cart_buttons {
  margin-top: 7px;
}

.add_to_cart_buttons_details {
  margin-top: 7px;
  font-size: large;
}

#flowerArrgContentsTag {
  color: white;
  text-align: left;
  margin-left: 20px;
  font-style: oblique;
  margin-top: 30px;
}

#span_current_user {
  float: right;
  color: white;
  margin-right: 10px;
  font-weight: bold;
}

#shopping_cart_button {
  height: 100px;
  width: 350px;
  font-size: 20px;
  background-color: lightblue;
}

.shoppingCartBackground {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shoppingCartContainer {
  overflow-y: scroll;
  width: 800px;
  height: 600px;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.CloseBtn {
  display: flex;
  justify-content: flex-end;
}

#btnCloseShoppingCartForm {
  background-color: transparent;
  border: none;
  display: table-cell;
  font-size: 25px;
  cursor: pointer;
  color: black;
  border-style: solid;
  border-width: 2px;
  border-radius: 12px;
  border-color: black;
}

#btnCheckOut {
  background-color: transparent;
  border: none;
  display: table-cell;
  font-size: 25px;
  cursor: pointer;
  color: black;
  border-style: solid;
  border-width: 2px;
  border-radius: 12px;
  border-color: black;
}

.modalContainer .title {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
}

.shoppingCartContainer .body {
  flex: 50%;
  display: block;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  text-align: center;
}

.shopping_cart_row {
  border: 1px solid #000;
  border-radius: 5px;
  margin: auto;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  color: black;
}

.shopping_cart_item_image {
  float: left;
}

#shopping_cart_item_total_price {
  font-weight: bold;
  font-size: 28px;
}

.shopping_cart_item_detail {
  display: inline-block;
}

.shopping_cart_item_price {
  font-weight: bold;
  font-size: 20px;
  display: inline-block;
}

#flowerArrangementName {
  font-weight: bold;
  font-size: 30px;
}

.shopping_cart_item_quantity {
  font-weight: bold;
}

#shopping_cart_item_quantity_input {
  width: 30px;
  text-align: center;
}

#shoppingCartButtons {
  display: table;
  font-size: 30px;
}

#remove_flower_arrg_from_shopping_cart {
  color: red;
}

#h1CheckOutInfoTag {
  color: white;
}

#inputOrderAddress {
  width: 30%;
  height: 20px;
}

textarea::placeholder {
  font-size: 1rem;
  font-weight: bold;
  color: #9c9c9c;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

#totalOrderValueTag {
  font-size: 2rem;
  font-weight: bold;
  color: white;
}

#finishOrderButton {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 20px;
  font-family: Helvetica;
  border-bottom: 2px solid #b406ac;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-top: 5px;
  background: linear-gradient(#be1aa3, #991292);
  color: white;
  border-radius: 10px;
  box-shadow: 0px 2px 10px grey;
  transition: 150ms ease;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

table,
tr,
td {
  color: white;
  width: 50%;
  border: 1px solid white;
  font-size: 30px;
}

th {
  padding-right: 15px;
  padding-bottom: 5px;
}

tr:hover {
  background-color: gray
}

#flowerArrgComponentDescription {
  color: white;
  display: block;
  text-align: left;
  margin-left: 20px;
}

#flowerArrgContentsTable {
  margin-left: 20px;
}

#flowerArrgContentsTableHead {
  font-size: 20px;
}